<h2>CRISIS</h2>
<div *ngIf = "crisis">
  <h3>"{{editName}}"</h3>
  <div>
    <label>Id: </label> {{crisis.id}}
  </div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="editName" placeholder="name" />
  </div>
  <p>
    <button (click)="save()">Save</button>
    <button (click)="click()">Cancel</button>
  </p>
</div>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
